.u-block-40b8-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-40b8-3 {
  position: absolute;
  left: 0;
}

.u-block-40b8-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/5fbc1e8bb16a28131e01614af64efc66b49c8504bc57cfd94ea1c1e23bcdaaabd72de7874d4b735093ad3c0a3f6e073695907c0d0b63032c1f095a_1280.jpg");
}

.u-section-1-1 .u-sheet-1 {
  min-height: 879px;
}

.u-section-1-1 .u-text-1 {
  font-family: Amarante;
  text-shadow: -4px 2px 13px rgba(128,128,128,0.9);
  font-size: 4.5rem;
  margin: 149px auto 0;
}

.u-section-1-1 .u-list-1 {
  width: 829px;
  margin: 62px auto 0 160px;
}

.u-section-1-1 .u-repeater-1 {
  min-height: 79px;
  grid-auto-columns: calc(25% - 37.5px);
  grid-template-columns: calc(25% - 37.5px) calc(25% - 37.5px) calc(25% - 37.5px) calc(25% - 37.5px);
  grid-gap: 50px 50px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 2px 4px 19px 0 rgba(173,246,242,1);
  text-shadow: -2px 0px 0 rgba(0,0,0,0);
  min-height: 58px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-1-1 .u-text-2 {
  font-family: Amarante;
  margin: 0 auto;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1-1 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 58px;
}

.u-section-1-1 .u-container-layout-4 {
  padding: 14px 30px;
}

.u-section-1-1 .u-text-3 {
  font-family: Amarante;
  margin: 0 auto;
}

.u-section-1-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1-1 .u-group-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 58px;
}

.u-section-1-1 .u-container-layout-6 {
  padding: 14px 30px;
}

.u-section-1-1 .u-text-4 {
  font-family: Amarante;
  margin: 0 auto;
}

.u-section-1-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1-1 .u-group-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 58px;
}

.u-section-1-1 .u-container-layout-8 {
  padding: 14px 30px;
}

.u-section-1-1 .u-text-5 {
  font-family: Amarante;
  margin: 0 auto;
}

.u-section-1-1 .u-list-2 {
  width: 839px;
  margin: -23px auto 60px;
}

.u-section-1-1 .u-repeater-2 {
  min-height: 205px;
  grid-auto-columns: calc(25% - 30.75px);
  grid-template-columns: calc(25% - 30.75px) calc(25% - 30.75px) calc(25% - 30.75px) calc(25% - 30.75px);
  grid-gap: 41px 41px;
}

.u-section-1-1 .u-container-layout-9 {
  padding: 10px 0 10px 10px;
}

.u-section-1-1 .u-shape-1 {
  height: auto;
  background-image: none;
  margin: 0;
}

.u-section-1-1 .u-text-6 {
  font-family: Amarante;
  font-size: 4.5rem;
  margin: -129px auto 0 51px;
}

.u-section-1-1 .u-container-layout-10 {
  padding: 10px 0 10px 10px;
}

.u-section-1-1 .u-shape-2 {
  height: auto;
  background-image: none;
  margin: 0;
}

.u-section-1-1 .u-text-7 {
  font-family: Amarante;
  font-size: 4.5rem;
  margin: -129px auto 0 51px;
}

.u-section-1-1 .u-container-layout-11 {
  padding: 10px 0 10px 10px;
}

.u-section-1-1 .u-shape-3 {
  height: auto;
  background-image: none;
  margin: 0;
}

.u-section-1-1 .u-text-8 {
  font-family: Amarante;
  font-size: 4.5rem;
  margin: -129px auto 0 51px;
}

.u-section-1-1 .u-container-layout-12 {
  padding: 10px 0 10px 10px;
}

.u-section-1-1 .u-shape-4 {
  height: auto;
  background-image: none;
  margin: 0;
}

.u-section-1-1 .u-text-9 {
  font-family: Amarante;
  font-size: 4.5rem;
  margin: -129px auto 0 51px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    background-position: 50% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-1-1 .u-list-1 {
    margin-left: 111px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 37.5px));
  }

  .u-section-1-1 .u-repeater-2 {
    grid-template-columns: repeat(4, calc(25% - 30.75px));
  }

  .u-section-1-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-shape-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1-1 .u-repeater-1 {
    min-height: 274px;
    grid-auto-columns: calc(50% - 25px);
    grid-template-columns: repeat(2, calc(50% - 25px));
  }

  .u-section-1-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1-1 .u-repeater-2 {
    min-height: 615px;
    grid-auto-columns: calc(50% - 20.5px);
    grid-template-columns: repeat(2, calc(50% - 20.5px));
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-1-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-9 {
    font-size: 1.875rem;
  }
}